<div class="about">
  <div>
    <app-profile></app-profile>
    <div id="nombre">Lic. Fernando Erreca</div>
  </div>
  <div id="datos">
    <h2>Aceca de mí</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipiscing elit montes accumsan
      porta, fames nulla cum nec tristique ornare donec class augue, in risus
      tincidunt laoreet ullamcorper facilisi sed vulputate curae. Ante litora
      scelerisque suspendisse vivamus aliquet iaculis, cubilia metus ligula
      elementum.
    </p>
  </div>
</div>
