.about {
    /* border: 1px solid black; */
    width: 58vw;
    height: 15vw;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

#nombre {
    /* border: 1px solid black; */
    width: 11vw;
    margin-left: 3vw;
    font-weight: 600;
}

#datos {
    /* border: 1px solid black; */
    margin: 1vw;
    margin-top: 2vw;
    margin-left: 2vw;
    width: 50vw;
    line-height: 1.6;
}

#datos h2 {
    margin-bottom: 0.2vw;
    color: rgb(26, 29, 29);
    font-weight: 600;
}

#datos p {
    margin-top: 0;
}