<div class="social">
  <a href="https://www.twitter.com" target="_blank">
    <img
      id="twitter-logo"
      src="../../../assets/twitter.png"
      alt="twitter"
      fill="#fff"
    />
  </a>

  <a href="https://www.instagram.com" target="_blank">
    <img
      id="instagram-logo"
      src="../../../assets/instagram.png"
      alt="instagram"
    />
  </a>

  <a href="https://www.facebook.com" target="_blank">
    <img
      id="facebook-logo"
      src="../../../assets/facebook.png"
      alt="facebook"
      fill="#fff"
    />
  </a>

  <a href="https://www.linkedin.com" target="_blank">
    <img
      id="linkedin-logo"
      src="../../../assets/linkedin.png"
      alt="linkedin"
      fill="#fff"
    />
  </a>
</div>
