.header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 80px; 
    display: flex;
    align-items: center;
    background-color: #6c7783;
    color: white;
    font-weight: 600;
    width: 60vw;
  }

  .header img {
    height: 100px;
    margin: 1em;
  }


  .spacer {
    flex: 1;
  }