<div class="skill-main">
    <hr>
    <h2>Hard & Soft Skills</h2>
    <div class="grid">
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
        <circle-progress [percent]="85" [radius]="75" [outerStrokeWidth]="11" [innerStrokeWidth]="6" [outerStrokeColor]="'#83b1d2'" [innerStrokeColor]="'#bdbdbd'" [animation]="true" [animationDuration]="500"></circle-progress>
    </div>
</div>