<div class="skill-main">
  <hr />
  <h2>Hard & Soft Skills</h2>
  <div class="grid">
    <!-- Hard Skills -->
    <circle-progress class="circle"
      [subtitleFontSize]="'15'"
      [percent]="85"
      [radius]="60"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#83b1d2'"
      [innerStrokeColor]="'#bdbdbd'"
      [animation]="true"
      [animationDuration]="500"
      [showTitle]="false"
      [showUnits]="false"
      [subtitle]="'HTML'"
    ></circle-progress>
    <circle-progress class="circle"
      [subtitleFontSize]="'15'"
      [percent]="80"
      [radius]="60"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#83b1d2'"
      [innerStrokeColor]="'#bdbdbd'"
      [animation]="true"
      [animationDuration]="500"
      [showTitle]="false"
      [showUnits]="false"
      [subtitle]="'CSS'"
    ></circle-progress>
    <circle-progress class="circle"
      [subtitleFontSize]="'15'"
      [percent]="70"
      [radius]="60"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#83b1d2'"
      [innerStrokeColor]="'#bdbdbd'"
      [animation]="true"
      [animationDuration]="500"
      [showTitle]="false"
      [showUnits]="false"
      [subtitle]="'Javascript'"
    ></circle-progress>
    <circle-progress class="circle"
      [subtitleFontSize]="'15'"
      [percent]="65"
      [radius]="60"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#83b1d2'"
      [innerStrokeColor]="'#bdbdbd'"
      [animation]="true"
      [animationDuration]="500"
      [showTitle]="false"
      [showUnits]="false"
      [subtitle]="'Git/Github'"
    ></circle-progress>

    <!-- Soft Skills -->
    <circle-progress class="circle"
      [subtitleFontSize]="'15'"
      [percent]="90"
      [radius]="60"
      [outerStrokeWidth]="11"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#FDB900'"
      [innerStrokeColor]="'#bdbdbd'"
      [animation]="true"
      [animationDuration]="500"
      [showTitle]="false"
      [showUnits]="false"
      [subtitle]="'Comunicación'"
    ></circle-progress>
    <circle-progress class="circle"
    [subtitleFontSize]="'15'"
    [percent]="85"
    [radius]="60"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#FDB900'"
    [innerStrokeColor]="'#bdbdbd'"
    [animation]="true"
    [animationDuration]="500"
    [showTitle]="false"
    [showUnits]="false"
    [subtitle]="'Creatividad'"
    ></circle-progress>
    <circle-progress class="circle"
    [subtitleFontSize]="'15'"
    [percent]="80"
    [radius]="60"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#FDB900'"
    [innerStrokeColor]="'#bdbdbd'"
    [animation]="true"
    [animationDuration]="500"
    [showTitle]="false"
    [showUnits]="false"
    [subtitle]="'Adaptabilidad'"
    ></circle-progress>
    <circle-progress class="circle"
    [subtitleFontSize]="'15'"
    [percent]="75"
    [radius]="60"
    [outerStrokeWidth]="11"
    [innerStrokeWidth]="6"
    [outerStrokeColor]="'#FDB900'"
    [innerStrokeColor]="'#bdbdbd'"
    [animation]="true"
    [animationDuration]="500"
    [showTitle]="false"
    [showUnits]="false"
    [subtitle]="'Empatía'"
    ></circle-progress>
  </div>
</div>
